{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 >{{ post.title }}</h1>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        <div>
            {{ post.body|linebreaks }}
            <p>
                <a href="{% url 'blog:post_share' post.id %}" class="share-link">
                    Share this post →
                </a>
            </p>
        </div>
    </div>
</div>
<a href="{% url 'blog:post_list' %}" class="back">Back</a>
{% endblock %}
